root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.swift]
# Same width as lineLength in .swift-format.
max_line_length = 120

[{*.json,*.md,*.sh,*.yml,*.yaml,.swift-format}]
indent_size = 2
